@model IEnumerable<BlowOut.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cust_FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cust_LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cust_Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cust_City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cust_State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cust_Zip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cust_Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cust_Phone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cust_FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cust_LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cust_Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cust_City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cust_State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cust_Zip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cust_Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cust_Phone)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Cust_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Cust_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Cust_ID })
        </td>
    </tr>
}

</table>
