@model FirstMVCSite.Models.GuestResponse
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RsvpForm</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
</head>
<body>
    <div class="jumbotron">
        <div class="container">
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary();

                <p>Name:    @Html.TextBoxFor(x => x.Name)</p>
                <p>Email:   @Html.TextBoxFor(x => x.Email)</p>
                <p>Phone:   @Html.TextBoxFor(x => x.Phone)</p>
                <p>
                    Will you attend:
                    @Html.DropDownListFor(x => x.WillAttend, new[]
                  {
                    new SelectListItem()
                    {
                      Text = "Yes", Value = bool.TrueString
                    },
                    new SelectListItem()
                    {
                      Text = "No", Value = bool.FalseString
                    }
                  },
                  "Please choose one")
                </p>
                <input type="submit" value="Submit RSVP" />
            }
        </div>
    </div>
</body>
</html>
