@model IEnumerable<BlowOut.Models.Instrument>

@{
    ViewBag.Title = "Rentals";
}

<h2>Rentals</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Inst_Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inst_Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inst_Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cust_ID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Inst_Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Inst_Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Inst_Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cust_ID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Inst_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Inst_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Inst_ID })
        </td>
    </tr>
}

</table>
