@model IEnumerable<BlowOut.Models.Instrument>

@{
    ViewBag.Title = "Rentals";
}

<h2>Rentals</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Inst_Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inst_Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inst_Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Inst_Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Inst_Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Inst_Price)
        </td>
        <td>
            @Html.ActionLink("Rent", "Rental_Form", new { id = item.Inst_ID })
        </td>
    </tr>
}

</table>
