@model IEnumerable<BlowOut.Models.Instrument>

@{
    ViewBag.Title = "Rentals";
}

<h2>Rentals</h2>
<div class="row">
        Narrow your search: <div class="dropdown">
            <a class="dropdown-toggle btn btn-info" data-toggle="dropdown" href="#">
                Instrument
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="@Url.Action("Rentals", "Home", new { Description="Trumpet"})">Trumpet</a></li>
                <li><a href="@Url.Action("Rentals", "Home", new { Description = "Trombone" })">Trombone</a></li>
                <li><a href="@Url.Action("Rentals", "Home", new { Description = "French Horn" })">French Horn</a></li>
                <li><a href="@Url.Action("Rentals", "Home", new { Description = "Flute" })">Flute</a></li>
                <li><a href="@Url.Action("Rentals", "Home", new { Description = "Clarinet" })">Clarinet</a></li>
                <li><a href="@Url.Action("Rentals", "Home", new { Description = "Saxaphone" })">Saxaphone</a></li>
            </ul>
        </div>
    <a href="@Url.Action("Rentals", "Home", new { Description = "all" })">@ViewBag.Clear</a>


</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Inst_Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inst_Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inst_Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Inst_Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Inst_Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Inst_Price)
        </td>
        <td>
            @Html.ActionLink("Rent", "Rental_Form", new { id = item.Inst_ID })
        </td>
    </tr>
}

</table>
